:root {
  /* Colors */
  --clr-bg: #ffffff;
  --clr-text: #000000;
  --clr-gray-800: #d9d9d9;
  --clr-gray-600: #9c9c9c;
  --clr-gray-400: #636262;

  --clr-sunk-ship: #fd6c6c;
  --clr-ship: #2e90d6;
  --clr-ship-lite: #aed4ef;

  --clr-hit-fill: #ff3539;
  --clr-hit-stroke: #cc0003;

  --clr-success: #00c728;
  --clr-success-lite: #00c72880;

  --clr-disabled-button: #0000001a;

  --clr-dialog-bg: #fff3b7;

  /* Font Family */
  --ff-system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ff-mono: monospace;
  --ff-primary: var(--ff-system-ui);

  /* Font Sizes */
  --font-scale: 1.25;
  --fs-x-small: calc(var(--fs-small) / var(--font-scale));
  --fs-small: calc(var(--fs-p) / var(--font-scale));
  --fs-p: 1rem;
  --fs-h6: calc(var(--fs-p) * var(--font-scale));
  --fs-h5: calc(var(--fs-h6) * var(--font-scale));
  --fs-h4: calc(var(--fs-h5) * var(--font-scale));
  --fs-h3: calc(var(--fs-h4) * var(--font-scale));
  --fs-h2: calc(var(--fs-h3) * var(--font-scale));
  --fs-h1: calc(var(--fs-h2) * var(--font-scale));

  /* Spacing */
  --spacing-unit: 1rem;
  --spacing-growth: 1.5;
  --sp-3xsm: calc(var(--sp-md) * 0.125);
  --sp-2xsm: calc(var(--sp-md) * 0.25);
  --sp-xsm: calc(var(--sp-md) * 0.5);
  --sp-sm: calc(var(--sp-md) * 0.75);
  --sp-md: var(--spacing-unit);
  --sp-lg: calc(var(--sp-md) * var(--spacing-growth));
  --sp-xlg: calc(var(--sp-lg) * var(--spacing-growth));
  --sp-2xlg: calc(var(--sp-xlg) * var(--spacing-growth));
  --sp-3xlg: calc(var(--sp-2xlg) * var(--spacing-growth));

  /* Border Widths*/
  --bd-2xsm: 1px;
  --bd-xsm: 2px;
  --bd-sm: 3px;
  --bd-md: 6px;
  --bd-lg: 8px;
  --bd-xlg: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
h5 {
  font-size: var(--fs-h5);
}
h6 {
  font-size: var(--fs-h6);
}

button {
  cursor: pointer;
}

/* 
============================================
Custom Styles 
============================================
*/

.hide {
  visibility: hidden !important;
}

.remove {
  display: none !important;
}

.game-modes,
.main,
aside .controls,
.buttons,
.ship-count,
.instructions,
.row-numbers,
.column-numbers {
  font-family: var(--ff-mono, --ff-primary);
}

.screen-overlay {
  --board-cell-size: 40px;
  --_announce-width: 580px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-weight: 700;
  background: var(--clr-bg);
  color: var(--clr-text);
}

header {
  --_fs-game-name: var(--fs-h3);

  display: flex;
  padding: var(--sp-lg);
  padding-bottom: 0;
  position: relative;
}

.game-name {
  position: absolute;
  top: calc(var(--_fs-game-name) * 0.42);
  font-size: var(--_fs-game-name);
}

.game-name::before {
  position: absolute;
  width: 100vw;
  left: -50vw;
  bottom: calc(var(--_fs-game-name) * 0.15);

  content: "";
  border-bottom: var(--bd-2xsm) solid var(--clr-text);
  content-visibility: hidden;
}

.announce {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(min(var(--_announce-width), 80vw), 1fr);
  justify-items: center;
  position: relative;
  z-index: 1;

  outline: var(--bd-2xsm) solid var(--clr-text);
  background: var(--clr-text);
  color: var(--clr-bg);
}

.announce.alternative {
  background: var(--clr-bg);
  color: var(--clr-text);
}

[data-screen="over"] .announce {
  background: var(--clr-success);
}

.announce .message {
  font-size: calc(var(--_fs-game-name) * 0.96);
  font-weight: 800;
  line-height: 1.6;
}

.announce::after {
  display: block;
  width: calc(100% / 2);
  height: 100%;
  position: absolute;
  bottom: -7.5vh;
  right: 50%;
  z-index: -1;

  content: "";
  border-right: var(--bd-2xsm) solid var(--clr-text);
  opacity: 0;
}

header:has(~ .game-modes > *:hover) .announce::after {
  opacity: 1;
}

.instructions {
  display: none;
}

[data-screen="attack"] .instructions,
[data-screen="sunk"] .instructions,
[data-screen="over"] .instructions {
  display: flex;
}

.instructions {
  position: absolute;
  left: 50%;
  bottom: -45%;
  transform: translateX(-50%);
  z-index: 1;
}

.instructions > * {
  display: none;
}

[data-screen="attack"] .instructions .message {
  display: block;
}

[data-screen="sunk"] .instructions .report {
  display: block;
}

[data-screen="over"] .instructions .feedback {
  display: block;
}

.instructions .icon {
  --_icon-size: var(--sp-md);

  align-self: center;
  position: absolute;
  transform: translateX(-120%);

  display: grid;
  grid-template-areas: "stack";
  place-items: center;
}

[data-screen="attack"] .instructions .icon::before {
  --_target-circle-size: calc(var(--sp-xsm) * 0.8);

  content: "";
  grid-area: stack;

  box-sizing: content-box;
  position: relative;
  width: var(--_target-circle-size);
  background: red;
  height: var(--_target-circle-size);

  border-radius: 50%;
  background: var(--clr-text);
  border: var(--bd-md) solid var(--clr-bg);
  outline: var(--bd-2xsm) solid var(--clr-gray-400);
}

[data-screen="attack"] .instructions .icon::after {
  grid-area: stack;

  content: "⤫";
  font-size: var(--fs-h4);
  height: 110%;
  line-height: 1.2;
  font-weight: 100;
}

[data-screen="attack"] .instructions .message {
  font-weight: 400;
}

.message .action {
  font-weight: 700;
}

[data-screen="sunk"] .instructions .report {
  color: var(--clr-success);
}

.game-modes {
  display: none;
  justify-content: space-evenly;
  margin: 0 var(--sp-lg);
  margin-top: 15vh;
}

[data-screen="mode"] .game-modes {
  display: flex;
}

.game-modes > * {
  position: relative;
}

.game-modes > *::before {
  --_line-decor-width: calc(50vw - 119%);

  display: block;
  width: var(--_line-decor-width);
  height: 65px;
  position: absolute;
  left: 50%;
  top: -7.5vh;

  content: "";
  border-left: var(--bd-2xsm) solid var(--clr-text);
  border-top: var(--bd-2xsm) solid var(--clr-text);
  opacity: 0;
}

.game-modes > :last-child::before {
  left: calc(31% * -1);

  border-left: none;
  border-right: var(--bd-2xsm) solid var(--clr-text);
}

.game-modes > *:hover::before {
  opacity: 1;
}

.game-modes .icon {
  background: var(--clr-bg);
  width: 25vw;
  height: 55vh;
  border: var(--bd-lg) solid var(--clr-text);
}

.game-modes .title {
  font-size: var(--fs-h4);
  text-align: center;
  line-height: 1.6;
}

.game-modes > *:has(:hover) .icon {
  background: var(--clr-gray-600);
}

.game-modes > *:focus {
  outline-offset: 8px;
}

.game-modes > *:active .icon {
  background: var(--clr-success-lite);
}

.game-modes .icon {
  position: relative;
}

.player {
  --_gap: 18%;

  width: 100%;
  height: 100%;
  align-content: end;
  padding: var(--sp-md);
  position: relative;
}

.player::before {
  --_head-size: 32%;

  display: block;
  border-radius: 50%;
  width: var(--_head-size);
  height: var(--_head-size);
  margin: 0 auto;
  position: relative;
  top: 6%;

  content: "";
  background: var(--clr-gray-800);
  border: var(--bd-xlg) solid var(--clr-text);
}

.player::after {
  display: block;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  border-radius: 100px 100px 0 0;

  content: "";
  background: var(--clr-text);
}

.player.alternative::after {
  background: var(--clr-bg);
  border: var(--bd-xlg) solid var(--clr-text);
}

.double-player .player:first-child {
  position: absolute;
  right: var(--_gap);
}

.double-player .player:last-child {
  position: absolute;
  left: var(--_gap);
}

.name-selection {
  display: none;
}

[data-screen="name"] .name-selection {
  display: flex;
}

.name-selection {
  justify-content: space-evenly;
  margin: 0 10ch;

  font-size: var(--fs-h6);
}

.name-selection > * {
  display: grid;
  justify-items: center;
}

.name-selection .player {
  padding-left: 0;
  padding-right: 0;
}

.name-selection > [class*="player"] > .icon {
  width: 20vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.name-selection label {
  justify-self: start;
  display: block;
  margin-top: var(--sp-sm);
}

.name-selection input {
  width: 100%;
  padding: 1ch;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: var(--sp-sm);
  text-decoration: none;
  padding: var(--sp-md);

  background-color: var(--clr-gray-400);
  color: var(--clr-bg);
}

.skip-link:focus {
  top: var(--sp-sm);
}

main {
  display: none;
}

[data-screen="fleet"] main,
[data-screen="attack"] main,
[data-screen="sunk"] main,
[data-screen="over"] main {
  display: grid;
}

main {
  --board-columns: 10;

  justify-items: center;
  position: relative;
  margin-top: calc(var(--sp-2xlg) * 0.8);
}

main .board {
  position: relative;
}

main .column-numbers {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--board-cell-size);
  place-items: center;

  height: var(--board-cell-size);
}

main .row-numbers {
  display: grid;
  grid-auto-rows: var(--board-cell-size);
  align-items: center;

  width: var(--board-cell-size);
  position: absolute;
  left: calc(var(--board-cell-size) * -1.5);
  text-align: right;
}

main .board .cells {
  display: grid;
  grid-template-columns: repeat(var(--board-columns), var(--board-cell-size));
  grid-auto-rows: var(--board-cell-size);

  border: var(--bd-2xsm) solid var(--clr-text);
}

.cells > * {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas: "stack";
  padding: 0;

  border: var(--bd-2xsm) solid var(--clr-text);
  background: var(--clr-bg);
}

[data-screen="fleet"] .cells > *:focus {
  position: relative;
  z-index: 0;
  outline: none;
  box-shadow: inset 0 0 0 3px var(--clr-ship);
}

[data-screen="fleet"] .cells > *:hover {
  background: var(--clr-ship-lite);
}

[data-screen="fleet"] .cells > *:active {
  background: var(--clr-ship);
}

[data-screen="attack"] .cells > *:focus {
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--clr-success);
  border-color: var(--clr-success);
}

.cells .sunk {
  background: var(--clr-sunk-ship);
}

/* Hit/Miss Cell Styles */
.cells .hit::after,
.cells .miss::after {
  --_marker-size: 72%;

  display: block;
  height: var(--_marker-size);
  width: var(--_marker-size);

  border: var(--bd-xsm) solid var(--clr-hit-stroke);
  border-radius: 50%;
  background: var(--clr-hit-fill);
  content: "";
}

.cells .miss::after {
  background: var(--clr-gray-600);
  border-color: var(--clr-gray-400);
}

/* Hover/Focus Empty Cell Styles */
[data-screen="attack"] .cells [class="cell"]:hover::before,
[data-screen="attack"] .cells [class="cell"]:focus::before {
  --_target-circle-size: 16%;

  grid-area: stack;
  z-index: 1;
  box-sizing: content-box;
  height: var(--_target-circle-size);
  width: var(--_target-circle-size);
  border-radius: 50%;

  content: "";
  background: var(--clr-text);
  border: var(--bd-md) solid var(--clr-bg);
  outline: var(--bd-2xsm) solid var(--clr-gray-400);
}

[data-screen="attack"] .cells [class="cell"]:hover::after,
[data-screen="attack"] .cells [class="cell"]:focus::after {
  grid-area: stack;

  content: "⤫";
  font-size: var(--fs-h4);
  height: 90%;
  line-height: 1;
  font-weight: 100;
}

/* Active Empty Cell Styles */
[data-screen="attack"] .cells [class="cell"]:active::before {
  background: none;
  border-color: var(--clr-success-lite);
}

.board .ship-count {
  visibility: hidden;
  text-align: right;
  padding-top: calc(var(--sp-2xsm) * 1.5);
  font-size: calc(var(--fs-p) * 0.9);
}

[data-screen="attack"] .board .ship-count,
[data-screen="over"] .board .ship-count {
  visibility: visible;
}

.board .board-label {
  text-align: center;
  color: var(--clr-gray-600);
  font-size: var(--fs-h6);
}

aside {
  display: none;
}

[data-screen="fleet"] aside {
  display: block;
}

aside {
  --_half-board-width: calc(var(--board-cell-size) * var(--board-columns) / 2);

  position: absolute;
  left: calc(50vw + var(--_half-board-width));
  margin: 0 var(--sp-lg) 0 var(--sp-3xlg);
}

aside .controls {
  margin-bottom: var(--sp-sm);
}

aside .controls .message {
  font-weight: 400;
}

aside .controls .control {
  font-weight: 700;
  font-size: var(--fs-p);
}

aside .fleet {
  background: var(--clr-gray-800);
  align-items: start;
  padding: var(--sp-md) 2ch var(--sp-xlg);
}

.fleet .dock {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: calc(var(--board-cell-size) * 0.75);
}

aside .fleet-label {
  padding: 1em 0;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.fleet .ship {
  border: var(--bd-2xsm) solid var(--clr-text);
}

.ship .ship-part {
  width: var(--board-cell-size);
  height: var(--board-cell-size);
  background: var(--clr-ship);
}

.ship .ship-part:not(:last-child) {
  border-bottom: var(--bd-2xsm) solid var(--clr-text);
}

dialog.stats {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding: 0;
  padding-bottom: 3em;
  border: calc(var(--bd-xsm) * 2) solid var(--clr-text);
  background: var(--clr-dialog-bg);
}

dialog.stats form {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-areas:
    "head head"
    "player1 player2";
  gap: var(--sp-lg) var(--sp-2xlg);
}

dialog .title {
  grid-area: head;
  line-height: 2;
  font-size: var(--fs-h5);
}

dialog .close-stats {
  grid-area: head;
  position: absolute;
  top: -1px;
  right: 0;

  box-sizing: content-box;
  width: 5%;
  height: 9%;
  padding: var(--sp-3xsm) var(--sp-xsm) var(--sp-3xsm) var(--sp-xsm);
  border: calc(var(--bd-2xsm) * 2) solid var(--clr-text);
  border-top: 0;
  border-right: 0;

  background: var(--clr-text);
  color: var(--clr-dialog-bg);
}

dialog .close-stats::before,
dialog .close-stats::after {
  --_height: 100%;

  content: "";
  position: absolute;
  top: 0;
  height: var(--_height);
  border-left: var(--bd-xsm) solid;
  transform: rotateZ(45deg);
}

dialog .close-stats::after {
  transform: rotateZ(-45deg);
}

dialog .close-stats:hover {
  background: var(--clr-dialog-bg);
  color: var(--clr-text);
}

dialog .close-stats:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--clr-bg);
  border-radius: 4px;
}

dialog .close-stats:active {
  background: var(--clr-ship-lite);
}

dialog [class*="player"][class$="stats"] {
  display: grid;
  gap: var(--sp-lg);

  font-weight: 400;
}

dialog .player1-stats {
  grid-area: player1;
  padding-left: calc(var(--sp-lg) * 2);
}

dialog .player2-stats {
  grid-area: player2;
  padding-right: calc(var(--sp-lg) * 2);
}

dialog .player-name {
  text-align: center;
  border-bottom: var(--bd-2xsm) solid var(--clr-text);
  line-height: 1.6;
  font-weight: 700;
}

dialog .stat {
  font-weight: 700;
}

.buttons {
  padding: var(--sp-lg) auto 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14ch;
  justify-content: center;
  gap: var(--sp-md);

  font-size: calc(var(--fs-p) * 0.9);
}

.buttons:focus {
  outline: var(--bd-2xsm) solid var(--clr-gray-400);
  outline-offset: calc(var(--bd-2xsm) * -1);
}

[data-screen="name"] .buttons {
  margin-top: var(--sp-3xlg);
}

[data-screen="pass"] .buttons {
  margin-top: 40vh;
}

[data-screen="fleet"] .buttons,
[data-screen="attack"] .buttons,
[data-screen="sunk"] .buttons,
[data-screen="over"] .buttons {
  margin-top: var(--sp-md);
}

.buttons > * {
  display: none;
  border-radius: 0;
  border: var(--bd-2xsm) solid var(--clr-text);

  background: var(--clr-bg);
  color: var(--clr-text);
}

.buttons > *:focus {
  outline: var(--bd-2xsm) solid var(--clr-text);
  outline-offset: 3px;

  background: var(--clr-gray-400);
  color: var(--clr-bg);
}

.buttons > *:hover {
  background: var(--clr-text);
  color: var(--clr-bg);
}

.buttons > *:disabled {
  border-color: var(--clr-disabled-button);
  color: var(--clr-disabled-button);
}

[data-screen="name"] .buttons .continue {
  display: block;
}

[data-screen="fleet"] .buttons .continue,
[data-screen="fleet"] .buttons .randomize-board,
[data-screen="fleet"] .buttons .reset-board {
  display: block;
}

[data-screen="pass"] .buttons .continue {
  display: block;
}

[data-screen="attack"] .buttons .continue,
[data-screen="attack"] .buttons .home-screen,
[data-screen="attack"] .buttons .random-attack,
[data-screen="sunk"] .buttons .continue,
[data-screen="sunk"] .buttons .home-screen,
[data-screen="sunk"] .buttons .random-attack {
  display: block;
}

[data-screen="over"] .buttons .home-screen,
[data-screen="over"] .buttons .stats,
[data-screen="over"] .buttons .rematch {
  display: block;
}
